<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e9889f5f85.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>
<body>
    <div class="base-container">
        <nav>

        </nav>
        <main>
            <section class="activities_list">
                <div>project 1</div>
                <div>project 2</div>
                <div>project 3</div>
            </section>
            <headder>
                 <div class="search-bar">
                     <form>
                         <input placeholder="search action">
                     </form>
                 </div>
                 <div class="add-activity">
                    <i class="fas fa-plus"></i>
                    create activity
                 </div>
            </headder>
            <div class="main-action">
                activities
            </div>
        </main>
    </div>
</body>