<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="label1">Create an Account</div>
        <div class="regiter-container">
            <form>
            <div class="label2">Full Name*</div>
            <div class="form2">
                <input name="fullname" type="text" placeholder="Name Surrname">
            </div>
            <div class="label2">Email *</div>
            <div class="form2">
                <input name="email" type="text" placeholder="email@email.com">
            </div>
            <div class="label2">Password *</div>
            <div class="form2">
                <input name="password" type="password" placeholder="password">
            </div>
                <button>REGISTER</button>
            </form>
        </div>
    </div>
</body>