body {
    margin: 0;
}

.base-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

nav {
    width: 20vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0090FF;
}

header {
    width: 80vw;
    display: flex;
    padding: 1em;
    justify-content: center;
}

.logo {
    text-align: center;
}

img {
    width: 8em;
    height: auto;
    margin-top: 1em;
}

.username {
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font: normal normal normal 1em/1em Microsoft New Tai Lue;
}

.menubutton {
    width: 10em;
    height: 2em;
    margin: 0.25em;

    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.activities_list {
    width: 80vw;
    height: 6em;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.activity-block {
    width: 30%;
    height: 5em;
    background-color: #FFFF50;
    margin: 1em;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
}

.activity-block>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {

}

.activ1 {
    margin: 0em;
}

.search-bar {
    width: 50%;
    height: auto;
}

input {
    width: 100%;
    height: 1.6em;
}

.find, .add-activity {
    border: none;
    background-color: lightslategray;
    color: #FFFFFF;
    height: 2em;
}

.add-activity {
    background-color: #0090FF;
    margin-left: 2em;
}

.fa, .fas{
    width: 1.2em;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.activity {
    background-color: #FFFF50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activity>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.activity>p {
    margin-block-end: 0em;
}

.activity>h2 {
    margin-block-start: 0.2em;
}

h2 {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a>div>h2 {
    margin: 0em;
}
a>div>i {
    margin: 0.5em;
}

.content_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.content_section>div {
    display: flex;
    flex-direction: row;
    margin: 1em;
    width: 55vw;
}
.content_section>div>label {
    width: 8em;
}

.content_section>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content_section>div>div>input {
    width: 33%;
}

.content_section>button {
    background-color: #0090FF;
    color: #FFFFFF;
    width: 15em;
}
.create-activity {
    width: 50vw;
}

textarea {
    resize: none;
}
